<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categories List</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list *ngFor="let item of categories">
    <ion-item-sliding >
      <ion-item>
        {{item.name}}
      </ion-item>
      <ion-item-options side="end">
        <ion-button type="submit" routerLink="/categories/{{item.id}}">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button type="submit" color="danger" (click)="deleteCategory(item.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div id="fixedButton">
    <ion-button shape="round" color="primary" routerLink="/add-category">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </div>

</ion-content>